* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, svg {
    width: 100%;
    height: auto;
    display: block;
}
h1, h2, h3, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
p + p {
    margin-top: 1em;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #FF902E;
}
.header {
    max-width: 100%;
    height: auto;
    display: block;
}
nav {
    max-width: 860px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
}
.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 50px;
}
.menu_link_color {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 28px;
}
.menu_link_color:hover {
    text-decoration: underline;
    font-size: 1.18rem;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    perspective: 600px;
}
.section1_content {
    max-width: 470px;
    margin-left: 20px;
}
.section1_title {
    font-size: 3rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 85px;
    font-weight: bold;
    line-height: 55px;
}
.section1_textR {
    font-weight: bold;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.86);
    margin-bottom: 34px;
}
.section1_line {
    width: 121px;
    height: 2px;
    background: #4E5D79;
    margin: 0 auto;
}
.section1_textD {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 33px;
    margin-top: 34px;
}
.section_grey {
    padding-top: 110px;
    padding-bottom: 100px;
    background: #4E5D79;
    perspective: 600px; 
}
.section_content {
    max-width: 480px;
}
.section_textR {
    font-weight: 500;
    font-size: 1rem;
    line-height: 27px;
    margin-bottom: 30px;
}
.section_line_ora {
    width: 121px;
    height: 2px;
    background: #FF902E;
    margin: 0 auto;
}
.section_textD {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 33px;
    margin-bottom: 51px;
    margin-top: 30px;
}
.section_btn, .section_btn1 {
    text-decoration: none;
    color: #fff;
}
.section_btn_ora {
    background: #FF902E;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #FF902E;
    padding: 9px 68px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 35px;
    color: #FFFFFF;
    transition-duration: 1s;
    box-shadow: 5px 8px 7px rgb(58, 58, 58);
}
.section_btn_ora:hover {
    background: #ee7104;
    color: #4E5D79;
    box-shadow: 2px 4px 4px rgb(58, 58, 58);
    top: 5px;

}
.section_ora {
    padding-top: 110px;
    padding-bottom: 100px;
    background: #FF902E;
}
.section_line_grey {
    width: 121px;
    height: 2px;
    background: #4E5D79;
    margin: 0 auto;
}
.section_btn_grey {
    background: #4E5D79;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #4E5D79;
    padding: 9px 68px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 35px;
    color: #FFFFFF;
    transition-duration: 1s;
    box-shadow: 10px 12px 10px rgb(58, 58, 58);
}
.section_btn_grey:hover {
    background: #435068;
    color: #FF902E;
    box-shadow: 2px 4px 4px rgb(58, 58, 58);
    top: 5px;
}
.section_image {
    margin: auto;
}
.img_buch {
    width: 280px;
    height: 344px;
    transition-duration: 1s;
}
.img_buch:hover {
    transform: scale(1.4);
}

footer {
    background: #4E5D79;
    padding-top: 47px;
    padding-bottom: 65px;
}
.footer_title {
    font-size: 4rem;
    line-height: 28px;
    color: #fff;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 50px;
}
.footer_kontakt {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 28px;
}
.footer_netzwerk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_netzwerk_icon {
    margin-left: 24px;
    width: 45px;
    height: 45px;
}
